.button {
  cursor: pointer;

  display: inline-block;

  padding: 5px 10px;

  font-size: 12px;
  font-weight: bold;
  text-align: center;

  border-radius: 4px;
}
.disabled {
  pointer-events: none;

  opacity: 0.5;
}
.secondary {
  color: black;

  background-color: lightgray;
}
.default {
  color: white;

  background-color: DeepSkyBlue;
}
.red {
  color: white;

  background-color: red;
}
.default:hover,
.red:hover,
.secondary:hover {
  background-color: #9ca5a5;
}
.default:active,
.red:active,
.secondary:active {
  transform: translateY(2px);
}
.button:disabled {
  cursor: default;

  color: darkgray;

  background-color: lightgray;
}
