input {
  width: 40%;
  padding: 12px;

  font-size: 16px;

  border: 1px solid gray;
  border-radius: 4px;
}
.input:focus {
  border-color: blue;
  outline: none;
}
.inputWrapper {
  position: relative;

  margin-bottom: 12px;
}
.superInput {
  width: 40%;
  padding: 14px;

  font-size: 20px;

  border: 2px solid gray;
  border-radius: 8px;
}
.errorInput {
  border-color: red;
}
.errorInput:focus {
  border-color: blue;
}
.error {
  position: absolute;
  bottom: -20px;

  font-size: 14px;
  color: red;
}
